* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: black;
  border: solid 1px black;
}
.item {
  padding: 1rem;
  font-size: 1.25rem;
  background: rgb(87, 86, 86);
  border: solid 1px rgb(210, 210, 210);
}
.grid_anidada {
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(4, fr);
}
.sub_grid {
  display: grid;
  grid-column: span 3;
  grid-row: 2 /3;
  grid-template-rows: subgrid;
}
